@media (prefers-color-scheme: dark) {
  body {
    background-color: #2C2C2C;
    color: #f1f1f1;
  }

  a {
    color: #A8DADC;
  }

  .item {
    background-color: #3E5641;
  }

  .item:hover {
    background-color: #34495E;
  }

  .item:active {
    background-color: #004D61;
  }

  div.sourceCode {
    border: 1px solid darkslategray;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #F0F4FF;
  }

  .item:hover {
    background-color: #E0E4F2;
  }

  .item:active {
    background-color: #C4D6E8;
  }

  div.sourceCode {
    border: 1px solid black;
  }
}

.wrapper {
  display: flex;
  /* This makes elements come after each other */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.links {
  display: flex;
  gap: 10px;
}

.links>a {
  border: 1px;
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  text-wrap: wrap;
  width: 60%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.content>h1 {
  font-size: 32px;
}

.content>h2 {
  font-size: 26px;
}

.content>p,
li {
  font-size: 18px;
}

div.sourceCode {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-x: auto;
}

@media (min-width: 1800px) {
  .content {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
}

@media (max-width: 1200px) {
  .content {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .content {
    width: 100%;
  }
}

.item {
  display: flex;
  color: inherit;
  flex-direction: row;
  gap: 20px;
  border: 1px solid black;
  text-decoration: none;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif;
}